$white-color: #FFFFFF;
$purple1-color: #6941C6;
$purple2-color: #7F56D9;

$dark-main-color: #090D1F;
$light-heading-color: #FFFFFF;
$dark-font-color: #C0C5D0;

$light-main-color: #FFFFFF;
$light-heading-color: #1A1A1A;
$light-font-color: #667085;

$ff-main: Inter;
$fw-main: 400;
$fz-main: 16px;