.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.headerContainer {
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-areas: "name nav";
  grid-template-columns: auto min-content;
  grid-template-rows: 125px;

  @media (max-width: 600px) {
    grid-template-areas: "name burger" "nav nav";
    grid-template-rows: 80px auto;
  }
}

.headerUsername {
  color: #FFF;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  grid-area: name;
}

.headerBurger {
  background-color: inherit;
  font-size: 42px;
  grid-area: burger;
}


.menuAnimations {}

@media (max-width: 600px) {}

.menuAnimationsEnter {
  opacity: 0;
  transform: scale(0.5);
}

.menuAnimationsEnterActive {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 350ms, transform 350ms;
}

.menuAnimationsExit {
  opacity: 1;
}

.menuAnimationsExitActive {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 350ms, transform 350ms;
}

.headerMenu {
  grid-area: nav;
}

.menuList {
  display: flex;
  justify-content: flex-end;
  width: auto;
}

@media (max-width: 600px) {
  .menuList {
    border-bottom: 1px solid white;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: none;
    grid-row-gap: 20px;
    padding-bottom: 20px;
  }
}