.menuItem {
  color: #FFF;
  font-family: 'Inter';
  &:not(:last-child){
    padding-right: 30px;
  }
}

.menuLink {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  background-color: transparent;
}