@import "../../styles/variables";

.container{
  margin: 0 auto;
  max-width: 1220px;
  padding-top: 155px ;
  padding-left: 10px;
  padding-right: 10px;
}

.title{
  font-size: 60px;
}

.titleInput{
  font-size: 60px;
}